@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0D0202;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/asset/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/asset/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/asset/fonts/SpaceGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

.react-datepicker-wrapper {
  width: 100% !important;
}
.react-datepicker__close-icon::after {
  background-color: #BF3B0B !important;
  height: 30px !important;
  width: 30px !important;
  font-size: 20px !important;
  padding: 0px 0px 6px 0px !important;
}